/* Szöveg szín   */
.text-dark {
    color: #3C3D37 !important;
}

.off-link .text-dark:hover {
    color: #51534b;
}

.text-blue {
    color: #C5D3E8 !important;
}

.text-gray {
    color: #dddddd;
}

.off-link a:hover, .off-link .btn:hover {
    color: #b1b1b1 !important;
    transition: 450ms;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #c0c0c0;
    transition: 450ms;
}

.login-button {
    transition: 200ms;
    text-decoration: solid;
    color: rgb(0, 187, 255);
}

.login-button:hover {
    transition: 200ms;
    color:rgb(33, 170, 221);
}

.off-link {
    text-decoration: none;
    color: inherit;
}

.btn {
    --bs-border-width: "0px";
    --bs-btn-border-width: var(--bs-border-width);
}


/* Háttér szín */
.bg-dark {
    background-color: #1E201E !important;
    color: #fff;
}

/* Egyéb */
.shadow {
    box-shadow: 5px 9px 10px 3px rgba(0,0,0,0.3);
}

body {
    background-color: #ECDFCC;
}

table, tbody, thead, tr, td, th {
    background-color: #fef8f1 !important;
}

.adatlap-table, .adatlap-table td, .adatlap-table th {
    background-color: #f6efe6 !important;
}

input:disabled {
    background-color: #e0e0e0 !important;
    border: 1px solid #e0e0e0;
}

input, select, textarea {
    background-color: #fef8f1 !important;
    border: 1px solid #000000 !important;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}

input::placeholder, select, textarea::placeholder {
    color: #000000 !important;
}

.notif-card-content {
    background-color: #fff;
    color: black;
}

.profile-tab-button button {
    color: white;
}
.profile-tab-button button:hover:not(.profile-btn-active) {
    background-color: #353535;
}

.profile-btn-active {
    background-color: #eee5db;
    color: #000 !important;
}


.profile-tab-content {
    background-color: #eee5db;
}

.profile-tab {
    border: 6px solid #1E201E;
}

.pagination button{
    background-color: #353535;
    color: white;
    border: 1px black solid;
}

.pagination button:hover {
    color: white;
    background-color: #464646;
    border: 1px black solid;
}

.pagination .page-item.disabled button {
    background-color: #494949;
    color: white;
    border: 1px black solid;
}

.pagination .page-item.active button{
    background-color: rgb(212, 173, 0) !important;
    border: 1px solid black;
    color: black;
}

.pagination {
    gap: 3px;
}

.invoice-body iframe{
    background-color: white !important;
}

.deletedcar .profile-car-card-body {
    border: 5px solid #050505;
    background-color: #454350 !important;
}