/* Szöveg szín   */
.text-dark {
    color: #3C3D37 !important;
}

.off-link .text-dark:hover {
    color: #51534b;
}

.text-blue {
    color: #C5D3E8 !important;
}

.text-gray {
    color: #dddddd;
}

.off-link .text-light:hover {
    color: #c4c4c4;
    transition: 300ms;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #c0c0c0;
}

.login-button {
    transition: 200ms;
    text-decoration: solid;
    color: rgb(0, 187, 255);
}

.login-button:hover {
    transition: 200ms;
    color:rgb(33, 170, 221);
}

.off-link {
    text-decoration: none;
    color: inherit;
}


/* Háttér szín */
.bg-dark {
    background-color: #1E201E !important;
}

.bg-green {
    background-color: #697565;
}

/* Egyéb */
.shadow {
    box-shadow: 5px 9px 10px 3px rgba(0,0,0,0.3);
}

body {
    background-color: #ECDFCC;
}