p {
font-weight: 400;
font-size: large;
}

#nepszeru {
padding-left: 5rem;
padding-right: 5rem;
}

section {
padding-left: 10rem !important;
padding-right: 10rem !important;
padding-top: 6rem !important;
padding-bottom: 6rem !important;
}

section p {
    text-align: justify;
}

input {
width: 100%;
height: 3rem;
}

input::placeholder {
font-size: large;
}

.form-box label {
font-size: 120%;
}

img {
width: 100%;
height: auto;
object-fit: cover;
}

#nepszeru .row{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: stretch;
align-content: stretch;
}

#nepszeru h2, #nepszeru p {
text-align: center;
}

hr {
width: 90%;
margin-left: auto;
margin-right: auto;
}

.autok a {
text-decoration: none;
}

.penz {
font-size: 400%;
font-weight: 500;
bottom: 30px;
position: static;
margin-left: 5rem;
}

h1 {
margin-bottom: 30px;
font-size: 60px;
}

.autok img {
width: 100%;
height: auto;
}

.autok{
margin-left: 15px;
margin-right: 15px;
border-radius: 60px;
padding: 2rem;
box-shadow: 0px 9px 30px -14px rgba(0,0,0,0.35);
}

nav {
position:fixed !important;
font-size: 1.2rem;
}

.navbar-brand {
font-weight: 600;
}

.profile {
width: 64px;
height: 64px;
border-radius: 90px;
margin-right: 1rem;
position:static;
top: 15px;
}

.profile-nav {
    margin-left: 1rem;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 14px;
}

.comments {
display: flex;
gap: 2rem;
flex-wrap: nowrap;
flex-direction: row;
}

.comment-box {
border-radius: 40px;
padding: 30px;
width: 70rem;
}

.comment-content {
display: flex;
}

.comment-text p{
    text-align: left;
}


.right {
text-align: right;
}

footer a {
display: block;
width: max-content;
}

footer {
width: 100%;
padding: 2rem 3rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
}

footer a:hover {
color: #c0c0c0;
}

#miert_a_currentcar img{
box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.25);
border-radius: 8px;
}

form h1 {
text-align: center;
font-weight: 700;
}


.form {
display: flex;
justify-content: center;
align-items: center;
}

.form-box {
margin-top: 7rem;
margin-bottom: 5rem;
padding: 2.5rem 3.5rem 2rem 2.5rem;
border-radius: 15px;
box-shadow: 5px 5px 10px 0 rgb(0, 0, 0, 0.25);
width: 50rem;
}

.form-content label {
color: #dddddd;
}

.nav-gap {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.data-list p {
    margin: 0;
}

.end {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}

.search {
    border: 1px solid black;
    margin: auto 15rem;
    padding: 2rem;
    border-radius: 15px;
}

.cars {
    margin: auto 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.car-box {
    width: 20%;
    padding: 1rem;
    border-radius: 15px;
}

.car-image {
    width: 50%;
}

.adatlap-table, tr, td {
    border: solid 1px black;
    width: 80%;
}

.adatlap-table, td, th {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.adatlap-table td {
    text-align: justify;
}

.adatlap-table th {
    width: 25%;
}

.adatlap-table-alatt button{
    width: 80%;
}

main {
    overflow-x:hidden;
}