@media only screen and (max-width: 1375px) {
    .profile-car {
        justify-content: center;
    }

    #miert_a_currentcar .row {
        display: flex;
        flex-direction: column;
    }

    #miert_a_currentcar .col-lg-6 {
        width: 100%;
    }
}


@media only screen and (max-width: 1200px) {
    .car-box {
        width: 30%;
    }

    .search {
        border: none;
        margin: 0;
        padding: 0;
    }

    .search div {
        display: flex;
        flex-direction: column;
        width: 95% !important;
        margin-left: auto;
        margin-right: auto;
    }

    .search input,
    .search select {
        width: 100% !important;
    }

    .card {
        width: 30%;
    }

    .profile-car-card {
        width: 35%;
    }

    .profile-car {
        gap: 5px;
        width: 90%;
    }

    .car-rent {
        width: 90%;
        margin: auto;
    }

    .notif .row {
        display: flex;
        flex-direction: column;
    }

    .notif .col-md-4 {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid white;
        padding-bottom: 1.5rem;
    }

    .notif-card-content {
        padding: 0.7rem;
    }

    .notif-message {
        margin-top: 5rem;
    }

    .notif-message a {
        visibility: visible;
    }

    .profile-tab {
        width: 64% !important;
    }

    .terkep .row{
        display: flex;
        flex-direction: column;
    }

    .terkep iframe {
        width: 100%;
    }

    .penz {
        position: relative;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
}

@media only screen and (max-width: 992px) {
    .penz {
        position: relative;
        margin: 0 auto;
        text-align: center;
        padding: 0;
    }
    
    .profile-tab {
        width: 90% !important;
    }

    .profile-car-card {
        width: 40%;
    }

    .profile-car {
        gap: 5px;
        width: 100%;
    }

    .profile-form {
        display: flex;
        width: 90% !important;
        flex-direction: column;
        margin: auto;
        gap: 6px;
    }

    .profile-data {
        width: 100%;
    }

    .profile-buttons {
        gap: 10px;
    }


    .notification {
        position: absolute;
        top: -8px !important;
        left: 2px;
    }

    .card {
        width: 80%;
    }

    .req-table {
        width: 80% !important;
    }

    .form-box {
        width: 100%;
        padding: 1rem;
        margin-top: 5.5rem;
        margin-bottom: 2rem;
    }

    .form-box input {
        width: 100% !important;
    }

    .form-box input[type="radio"] {
        width: 1rem !important;
    }

    .form-box button {
        height: 3rem;
    }

    body {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    section {
        padding: 2rem !important;
    }

    img {
        width: 100%;
        height: auto;
    }

    input {
        width: 100% !important;
    }

    .comments {
        flex-direction: column;
        gap: 1rem;
    }

    .comment-box {
        width: auto;
    }

    #nepszeru .row {
        flex-wrap: wrap;
        justify-content: center;
    }

    .autok img {
        width: 100%;
        height: auto;
    }

    .autok {
        margin-top: 2rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    footer .col-3 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .second-nav {
        margin-left: -13px;
    }

    .profile-nav {
        display: none;
    }

    .car-box {
        width: 40%;
    }

    .col-md h2 {
        margin-top: 1rem;
    }

    th {
        width: 50%;
    }

    .upload-form {
        display: flex;
        flex-direction: column;
    }

    .upload-form input,
    .upload-form select {
        width: 100% !important;
    }

    .upload-form select {
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
    }

    .car-data-col {
        width: 100%;
        margin: auto;
    }

    .car-comment-select {
        margin-top: 0.5rem;
    }

    .car-comment {
        width: 90% !important;
    }

    .car-comment button {
        width: 100% !important;
    }

    .star-range input[type="range"] {

        --s: 33px;

    }

    .icon-left a,
    .icon-left button {
        align-items: center;
        justify-content: start;
    }


    .edit-buttons {
        flex-direction: column;
    }

    .edit-buttons button,
    .edit-buttons a {
        width: 100% !important;
    }

    .drop-zone {
        width: 60% !important;
    }

    .file-details button {
        width: 30% !important;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-text {
        text-align: center;
    }

    .contact-img {
        max-height: 100vh !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .car-rent {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .file-details {
        flex-direction: column;
    }


    .file-details button {
        width: 60% !important;
    }

    .notif {
        width: 90%;
    }

}

@media only screen and (max-width: 576px) {
    .profile-tab-content {
        justify-content: center;
    }

    .profile-car {
        justify-content: center;
    }

    .profile-tab-button button{
        width: 100% !important;
    }

    .profile-car-card {
        width: 85%;
    }

    .profile-car {
        gap: 5px;
        width: 100%;
    }

    .profile-buttons {
        display: flex;
        flex-direction: column;
    }

    nav {
        font-size: 1rem;
        height: auto;
    }

    .penz {
        font-size: 400%;
        margin-left: 0;
        text-align: center;
    }

    h1 {
        font-size: 2.4rem;
    }

    .navbar-brand {
        font-size: 1.2rem;
        background-color: rgba(0, 0, 0, 0) !important;
        border: none !important;
    }

    .car-box {
        width: 100%;
    }

    .req-table {
        width: 100% !important;
    }

    .data-list p,
    .data-list a {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 1rem;
    }

    .data-list span {
        font-size: 0.9rem;
        width: 80%;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .drop-zone {
        width: 80% !important;
    }


    .file-details button {
        width: 80% !important;
    }

    .star-range {
        flex-direction: column;
        align-items: start;
    }
}